.flag {
  background-color: rgb(206, 17, 38);
  width: 900px;
  height: 600px;
}
.flag > div > div {
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 350px;
}
.flag > div {
  background-color: rgb(0, 40, 104);
  width: 900px;
  height: 300px;
  position: absolute;
  top: 150px;
}
p {
  font-size: 5rem;
  color: white;
  text-align: center;
  padding: 0;
  margin: 0;
}
.flag > div div p {
  color: black;
  font-size: 4rem;
}
