div {
  height: 200px;
  width: 200px;
}

p {
  margin: 0; /* Add this line to remove the default margin */
}

#box1 {
  background-color: cadetblue;
  padding: 20px;
  border: 10px solid black;
}

#box2 {
  background-color: gold;
  border: solid black;
  border-width: 20px 10px;
  margin-left: 260px;
}

#box3 {
  background-color: indianred;
  border: 10px solid black;
  margin-left: 40px;
}
